{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-default-from"
    ],
    "env": {
        "test": {
            "plugins": [
                [
                    "istanbul",
                    {
                        "exclude": ["**/*.test.*"]
                    }
                ]
            ]
        }
    }
}
